<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="../../index.html" id="navbar-brand">
      <i class="fas fa-caravan"></i>
      NordVan
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="../../pages/customer/search.html">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../shared/impressum.html">Impressum</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center me-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-bs-toggle="dropdown">
            <img src="https://ui-avatars.com/api/?name=User&size=32&background=2563eb&color=fff" class="rounded-circle me-2" alt="User" id="navbar-avatar">
            <span id="navbar-username">User</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="../../profile.html" id="navbar-profile"><i class="fas fa-user me-2"></i>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="logout-btn"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
